@page "/listClass"

<h3>ListClass</h3>
<Button OnClick="()=>ShowPopupClass(null)" Icon="plus">Add</Button>

<Form Model="@classSearch"
      LabelColSpan="2" WrapperColSpan="4" 
      OnFinish="OnValidSubmit" OnFinishFailed="OnInvalidSubmit">
      <FormItem Label="Class Name">
        <Input @bind-Value="@classSearch.Name" />
    </FormItem>
    <FormItem Label="Subject">
        <Input @bind-Value="@classSearch.SubjectName" />
    </FormItem>
    <FormItem Label="Teacher">
        <Select Mode="default"
                DataSource="listTeacher"
        @bind-Value="@classSearch.TeacherId"
                LabelName="@nameof(Teacher.Name)"
                ValueName="@nameof(Teacher.Id)">
        </Select>
    </FormItem>
    <FormItem WrapperColOffset="2" WrapperColSpan="4">
        <Button HtmlType="submit">
            Search
        </Button>
    </FormItem>
</Form>

<Table TItem="ClassViewDTO" DataSource="@listClassPage" Total="totalCount" @bind-PageIndex="pageNumber" @bind-PageSize="pageSize" OnChange="OnPaging">
    <Column @bind-Field="context.STT"></Column>
    <Column @bind-Field="context.Name"></Column>
    <Column @bind-Field="context.SubjectName"></Column>
    <Column @bind-Field="context.TeacherName"></Column>
    <ActionColumn Title="Action">
        <Space Size=@("middle")>
            <SpaceItem>
                <Button OnClick="()=>ShowPopupClass(context)"><Icon Type="edit"></Icon></Button>
            </SpaceItem>
            <SpaceItem>
                <Popconfirm Title="Are you sure to delete this class?"
                            OnConfirm="() => DeleteClass(context)"
                            OkText="Yes"
                            CancelText="No">
                    <Button><Icon Type="delete" Theme="outline" /></Button>
                </Popconfirm>
            </SpaceItem>
        </Space>
    </ActionColumn>
</Table>

<Modal Visible="@isPopupVisible" Title="Add/Update Class" Closable="false">
    <Form Model="@classDTO"
          LabelColSpan="5" WrapperColSpan="10"
          OnFinish="OnSubmitSuccess" OnFinishFailed="OnSubmitFail">
        <FormItem Label="Class Name">
            <Input @bind-Value="@classDTO.Name" />
        </FormItem>
        <FormItem Label="Subject">
            <Input @bind-Value="@classDTO.SubjectName" />
        </FormItem>
        <FormItem Label="Teacher">
            <Select Mode="default"
                    DataSource="listTeacher"
            @bind-Value="@classDTO.TeacherId"
                    LabelName="@nameof(Teacher.Name)"
                    ValueName="@nameof(Teacher.Id)">
            </Select>
        </FormItem>
            <Button HtmlType="submit">Save</Button>
            <Button Type="default" OnClick="_=>close()">Cancel</Button>
    </Form>
</Modal>
<style>
    .ant-modal-footer {
        display: none !important;
    }
</style>